body {
    background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    min-height: 100vh;
    margin: 0 auto;
    width: 1000px;
    font-family: 'Acme', sans-serif;
    line-height: 1.5;
    background-size: cover;
}


header {
    padding: 0px 50px;
    color: silver;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content-text {
    width:100%;
}

header img {
    width: 200px;
    margin: 60px;
}



a {
    text-decoration: none;
}

header nav a {
    color: silver;
}


header nav ul {
    padding: 0px 50px;
}


header h1 {
    margin: 0px;
    padding: 70px 0px 30px 0px;
    font-size: 55px
}

header p {
    margin: 0px;
}

.content {
    color: silver;
}

.content h2 {
    padding: 50px 0px;
    text-align: center;
    font-size: 35px;
    margin: 0px;
}

.project-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.project-1 img {
    width:30%;
    margin: 30px;
    height: 350px;
}

.project-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.project-2 img {
    width: 30%;
    margin: 30px;
}

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

article h3 {
    margin: 0px;
}

footer {
    margin: 30px;
}

footer nav a {
    color: silver;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

