body {
    background-color: rgb(49, 29, 12);
    min-height: 100vh;
    margin: 0 auto;
    /* width: 1000px; */
    font-family: 'Acme', sans-serif;
    line-height: 1.5;
    background-size: cover;
    
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.navName {
display: flex;
}



a {
    text-decoration: none;
    color: silver;
}

header {
    padding: 50px 100px;
    color: black;
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 50px 150px;
    border-radius: 25px;
}




.headerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 -50px 0;
}

.headerBottom {
    padding: 0 0 40px 0;
}

header img {
    width: 200px;
    margin: 60px;
    border-radius: 50%;
    border: solid black 3px;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactMeButtonContainer {
    display: flex;
    align-items: center;
    margin-right:15px;
}

.btn {
    border: 2px solid aqua;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: .8s;
    position: relative;         
    overflow: hidden;
    z-index: 1; 
}


.btn1 {
    color: aqua;
}

.btn1:hover {
    color:black;
}


.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: aqua;
    z-index: -1;
    transition: .8s;
    
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
    height: 180%;
} 



a:hover {
    color:aqua;
    transition: .8s;

}



header h1 {
    margin: 0px;
    text-align: center;
    padding: 100px 0px;
    font-size: 55px;
}

header h2 {
    font-size: 30px;
}

header p {
    margin: 0px;
    font-size: 24px;
}

.aboutMe {
    padding: 0 50px 50px 50px;

}

.content {
    color: white;
    margin: 100px 135px;

    /* background: aqua; */
}


.content h2 {
    padding: 50px 0px;
    text-align: center;
    font-size: 45px;
    margin: 0px;
}



.projectOne {
    display: flex;
    justify-content: space-around;
    margin: 25px 0px;
    border-radius: 25px;
}

.projectOne a {
    color: white;
}

.projectOne img {
    margin: 30px;
    height: 350px;
    width: 90%;

}

.projectOneImageContainer {
    text-align: center;
    width: 50%;
}

.projectOne:hover {
    background-color: rgb(1, 145, 145);
    transition: .8s;
    cursor: pointer;
}


.project-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 150px 0px;
    border-radius: 25px;
    padding: 40px 0;
}

.project-2:hover {
    background-color: rgb(1, 145, 145);
    transition: .8s;
    cursor: pointer;
}

.project-2 img {
    width: 30%;
    margin: 30px;
}

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    line-height: 2;
    padding: 15px;
}

article h3 {
    margin: 0px;
    font-size: 30px;
}

article p {
    font-size: 20px;
}

footer {
    margin: 30px;
    font-size: 20px;
}

footer nav a {
    color: silver;
}


