
  
body {
    min-height: 100vh;
    margin: 0 auto; 
    font-family: 'Acme', sans-serif;
    line-height: 1.5;
    background-size: cover;
    background-color: black;
}



.navbar-inverse .navbar-brand {
    color: white;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.navName {
display: flex;
}


.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
}

header {
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: 0px 18px black;

}

header h1 {
    padding: 50px; 
    font-size: 55px;
}

header h2 {
    font-size: 30px;
}

header p {
    margin: 0px;
    font-size: 24px;
}

.aboutMe {
    padding: 0 50px 50px 50px;
    margin: 25px 0 0 0;
}


.headerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerBottom {
    padding: 0 0 40px 0;
}

header img {
    width: 300px;
    margin: 60px;
    border-radius: 40%;
    border: solid black 3px;
}



.contactMeButtonContainer {
    display: flex;
    align-items: center;
    margin-right:15px;
}

.btn {
    border: 2px solid aqua;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: .8s;
    position: relative;         
    overflow: hidden;
    z-index: 1; 
}


.btn1 {
    color: aqua;
}

.btn1:hover {
    color:black;
}


.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: aqua;
    z-index: -1;
    transition: .8s;
    
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
    height: 180%;
} 



nav a:hover {
    color:black;
    transition: .8s;

}



.skillsAndTechnologiesSection h1 {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 25px auto;
    text-align: center;
    border-radius: 25px;
    background: linear-gradient(to left, rgb(135, 207, 231), rgb(35, 155, 173));
    padding: 30px 0px;
    font-size: 45px;
    
}

.listOfSkillsAndTechnologies {
    background: linear-gradient(to top, rgb(135, 207, 231), rgb(35, 155, 173));
    padding: 15px 0;
    margin: 0 135px;
    border-radius: 25px;
}

.skillsListOne {
    display:flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.skillsListOne img {
    width: 100px;
    height: 100px;
    margin: 30px auto;
}

#cssLogo {
    width:80px;
}

.skillsListTwo {
    display:flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.skillsListTwo img {
    width: 100px;
    height: 100px;
    margin: 0 30px;
}

#reactLogo {
    width:145px;
    border-radius: 25px;
}

#nodeLogo {
    width:145px;
    border-radius: 25px;
}

#mongoLogo {
    width:145px;
    border-radius: 25px;
}

#axiosLogo {
    width:145px;
    border-radius: 25px;
}

#agileLogo {
    border-radius: 10px;
}

#pythonLogo {
    width:145px;
    border-radius: 25px;
}

#sqlLogo {
    border-radius: 10px;
}

#gitHubLogo {
    border-radius: 10px;
    width: 145px;
}

.skillsListThree {
    display:flex;
    justify-content: space-evenly;
    margin: 40px 0 0 0;
}

.skillsListThree img {
    width: 100px;
    height: 100px;
    margin: 0 30px;
}

.content {
    color: white;
    margin: 100px 135px;
}


.content h2 {
    padding: 30px 0px;
    text-align: center;
    font-size: 45px;
    margin: 0px;
    width: 555px;
    background: linear-gradient(to left, rgb(135, 207, 231), rgb(35, 155, 173));
    border-radius: 25px;
    color: black;
    box-shadow: 7px 10px black;


}


.projectA {
    display: flex;
    justify-content: space-around;
    margin: 45px 0px;
    border-radius: 25px;
    background: linear-gradient(to left, rgb(135, 207, 231), rgb(35, 155, 173));
    color: black;
}

.projectA a {
    color: black;
}

.projectA img {
    margin: 30px;
    height: 350px;
    width: 90%;

}

.projectAImageContainer {
    text-align: center;
    width: 50%;
}

.projectA:hover {
    transition: .8s;
    cursor: pointer;
    box-shadow: 0px 0px 20px 20px silver;

}


.projectB {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 45px 0px;
    border-radius: 25px;
    padding: 40px 0;
    background: linear-gradient(to left, #3B9ABF, rgb(135, 207, 231));
    color: black;
}

.projectB a {
    color: black;
}

.projectB:hover {
    transition: .8s;
    cursor: pointer;
    box-shadow: 0px 0px 20px 20px silver;

}

.projectB img {
    margin: 30px;
    height: 350px;
    width: 90%;

    
}

.projectBImageConatiner {
    width: 50%;
    text-align: center;
}

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    line-height: 2;
    padding: 15px;
}

article h3 {
    margin: 0px;
    font-size: 30px;
}

article p {
    font-size: 20px;
}

